# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignore Gradle build and IDE cache files
**/.gradle/
**/build/
**/.idea/
**/.vscode/
local.properties
*.iml

repo.txt

# Google Services configuration (contains API keys - keep local only)
**/google-services.json